/**
 * Typography - Webfonts
 * -----------------------------------------------------------------------------
 */


@font-face {
  font-family: 'Muoto-Regular';
  src: url('fonts/Muoto-Regular.woff2') format('woff2'), url('fonts/Muoto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muoto-Light';
  src: url('fonts/Muoto-Light.woff2') format('woff2'), url('fonts/Muoto-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muoto-Light-Italic';
  src: url('fonts/Muoto-Light-Italic.woff2') format('woff2'), url('fonts/Muoto-Light-Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}