<footer class="bg-white w-full pt-78 lg:pt-100 pb-40 px-20 lg:min-h-160">

  <div class="flex flex-col gap-y-36 lg:grid lg:grid-cols-12 lg:gap-x-20 debug">

    <div class="{{ is_homepage ? 'lg:hidden' : 'lg:col-span-2 lg:col-start-7 lg:self-end lg:order-2' }}">
      {{ partial:globals/claim }}
    </div>

    <div class="lg:col-span-2 lg:col-start-10 lg:order-3 lg:flex lg:justify-end lg:self-end">
      {{ partial:globals/social_media }}
    </div>

    <div 
      class="
        text-xs 
        lg:text-sm
        leading-[1.4]
        lg:col-span-6
        lg:order-1
        lg:self-end
        [&_p]:!mb-0 
        hover:[&_a]:underline 
        [&_a]:underline-offset-2 
        [&_a]:decoration-1">
      {{ partial:globals/address }}
    </div>

  </div>

</footer>

{{ vite src="resources/js/app.js" }}
