@import "typo/webfonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { 
  @apply !hidden;
}

:root {
  /*--header-height-sm: 2.875rem; /* 46 px */
}

main {
  @apply flex-1;
}

p:not(:last-child),
ul:not(:last-child) {

}

p:has(+ ul) {
  @apply !mb-0
}

ul {
}

strong {
}
