@import "typo/webfonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { 
  @apply !hidden;
}

:root {
  --header-height-sm: 4.063rem;  /* 65px */
  --header-height-sm-expanded: 8.75rem; /* 140px */
  --logo-height-sm: 1.688rem; /* 27px */
  --logo-height-sm-expanded: 5rem; /* 80px */
}

main {
  @apply flex-1;
}

p:not(:last-child),
ul:not(:last-child) {

}

p:has(+ ul) {
  @apply !mb-0
}

ul {
}

strong {
  @apply font-muoto-regular font-normal;
}



.debug > * {
  @apply bg-green-50 outline outline-1 outline-green-200;
}