@import "typo/webfonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { 
  @apply !hidden;
}

/* Base variables */
@layer base {
  :root {
    --header-height-sm: 4.063rem;  /* (was: 4.063rem | 65px, new: 6.5625rem | 105px) */
    --header-height-lg: 7.5rem; /* 120px */
    --header-height-expanded: 6.25rem; /* 100px (was 8.75rem | 140px) */
    --footer-height-sm: 25rem; /* 400px */
    --footer-height-lg: 10rem; /* 160px */
    --logo-height-sm: 1.6875rem; /* 27px */
    --logo-height-expanded: 5rem; /* 80px */
    --grid-columns: 12;
    --grid-gap: 1.25rem; /* 20px */
    --col-width: calc((100% - (11 * var(--grid-gap))) / var(--grid-columns));
  }
}

/* Custom utilities (responsive-compatible) */
@layer utilities {
  .left-start-6 {
    left: calc(var(--col-width) * 5 + var(--grid-gap) * 5);
  }

  .left-start-7 {
    left: calc(var(--col-width) * 6 + var(--grid-gap) * 6);
  }

  .left-start-8 {
    left: calc(var(--col-width) * 7 + var(--grid-gap) * 7);
  }

  .w-col-5 {
    width: calc(var(--col-width) * 5 + var(--grid-gap) * 4);
  }

  .w-col-padded-5 {
    width: calc(var(--col-width) * 5 + var(--grid-gap) * 4 + 1.25rem);
    padding-left: 1.25rem;
  }

  .w-col-6 {
    width: calc(var(--col-width) * 6 + var(--grid-gap) * 5);
  }

}

/* Global styles */
main {
  @apply flex-1;
}

p:not(:last-child),
ul:not(:last-child) {
  @apply mb-16 lg:mb-24;
}

p.text-large {
  @apply text-md lg:text-lg;
}

p.text-large:not(:last-child) {
  @apply mb-20 lg:mb-36;
}

p:not(.text-large) {
  @apply max-w-prose;
}

p:has(+ ul) {
  @apply !mb-0;
}

strong {
  @apply font-muoto-regular font-normal;
}

/* article:not(:first-child) {
  @apply pt-16;
} */

article:not(:first-child) {
}

article h2,
article h3 {
  @apply font-muoto-regular font-normal;
}

article h2 {
  @apply mb-16 lg:mb-24;
}

article a {
  @apply hover:underline underline-offset-2 decoration-1;
}

article p.text-large a {
  @apply decoration-1 underline-offset-4;
}

article a.link-external {
  @apply inline-flex items-center gap-x-8 text-black !no-underline after:content-[''] after:inline-block after:w-[1.25rem] after:h-[1.25rem] after:bg-[url('/img/icons/link-external.svg')] after:bg-no-repeat after:bg-center after:bg-contain after:shrink-0 after:relative after:top-1;
}

/* Debug helper */
.debug > * {
  @apply bg-green-50 outline outline-1 outline-green-200;
}
